[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    migrations,
    .eggs,
    *.egg,
    build,
    dist
ignore =
    E203,
    E501,
    W503,
    E402
per-file-ignores =
    __init__.py:F401
    app/core/config.py:F401
    app/etl/*.py:F401,F541,E722,W293
    app/middleware/security.py:F401
    app/models/schemas.py:F401
    app/newsletter_manager.py:W293,F401
    app/routers/precios.py:F401
    app/services/scheduler.py:F401,E226
    app/services/shadow_mode.py:F401
    app/whatsapp_bot.py:W293,F401
